<h1>New Customer</h1>
<%= simple_form_for @customer do |f| %>
  <%= f.input :name %>
  <%= f.input :adress_1 %>
  <%= f.input :address_2 %>
  <%= f.input :state %>
  <%= f.input :postal %>
  <%= f.input :phone_1 %>
  <%= f.input :phone_2 %>
  <%= f.input :xcord %>
  <%= f.input :ycord %>
  <%= f.submit "Create!" %>
<%end%>
